body{
  background-color:rgb(34, 34, 59) ;
}

h1{
  text-align: center;
  color:beige;
font-family: 'MarinesBold';
}
@font-face {
  font-family: 'MarinesBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2502-1@1.0/MarinesBold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

h3{
  text-align: center;
  color:rgb(210, 167, 161);
}

p{
  text-align: center;
  color:beige;
  font-family: 'ChosunGu';
  font-size: larger;

}
@font-face {
  font-family: 'ChosunGu';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
h2{
  text-align: center;
  color:rgb(210, 167, 161)
}